@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection{
  background: #434964;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #2A2F45; 
}
 
::-webkit-scrollbar-thumb {
  background: #434964; 
}